<!DOCTYPE html>
<html>
    <img id="playerImage1" src="{{ url_for('static', filename='Images/Player1.png') }}" style="display: none">
    <img id="playerImage2" src="{{ url_for('static', filename='Images/Player2.png') }}" style="display: none">
    <img id="groundImage" src="{{ url_for('static', filename='Images/ground.png') }}" style="display: none">
    <img id="EnemyImage" src="{{ url_for('static', filename='Images/Enemy.png') }}" style="display: none">
    <img id="BulletImage" src="{{ url_for('static', filename='Images/Bullet.png') }}" style="display: none">
    <img id="HeartImage" src="{{ url_for('static', filename='Images/Heart.png') }}" style="display: none">
    <head>
        <meta charset="utf-8" />
        <title>Urchin Surviver</title>
        <style>
            * {
                padding: 0;
                margin: 0;
            }
            canvas{
                background: #eee;
                display: block;
                margin: 0 auto;
                width:700px;
                height:500px;
            }
        </style>
    </head>
    <body>
        <canvas id="maincanvas" width="990" heigh="900"></canvas>
        
        <script type = "module" src= "{{url_for('static', filename='js/canvasController.js')}}" alt="Responsive js"></script>
        <script type = "module" src="{{url_for('static', filename='js/playerMover.js')}}" alt="Responsive js"></script>
        <script type="module" src="{{url_for('static', filename='js/stageSetter.js')}}" alt="Responsive js"></script>
        <script type="module" src="{{url_for('static', filename='js/getInput.js')}}" alt="Responsive js"></script>
        <script type="module" src="{{url_for('static', filename='js/HPController.js')}}" alt="Responsive js"></script>
    </body>
</html>